In [45]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [46]:
data = pd.read_csv('./Social_Network_Ads.csv')
data.sample(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
168  15789815    Male   29           148000          1
58   15642885    Male   22            18000          0
170  15587013    Male   21            88000          0
286  15631070  Female   37            62000          0
142  15617134    Male   35            59000          0

In [47]:
x = data.iloc[:,[2,3]].values
y = data.iloc[:,4].values
x.shape
y.shape

(400,)

In [49]:
from sklearn.preprocessing import scale
x = scale(x)

In [50]:
from sklearn.model_selection import train_test_split
X_train , X_test ,Y_train,Y_test = train_test_split(x,y,test_size=0.25,random_state = 0)
X_train.shape

(300, 2)

In [51]:
from sklearn.neighbors import KNeighborsClassifier
classfier = KNeighborsClassifier()
classfier.fit(X_train,Y_train)
y_pred = classfier.predict(X_test)

In [53]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,y_pred)
print(cm)

[[64  4]
 [ 3 29]]